@inject Services.BlobManagerService BlobManagerService;
@inject Services.ComicService ComicService;
@using ComicsBlazor.Components
@using Microsoft.AspNetCore.Components.Web

<div class="d-flex flex-row">
<SidePanel />
<div class="flex-grow-1 main-view" >
    
<Progress />
<Title />
<PageView />

</div>
</div>



<HeadContent>
    <link href="_content/ComicsBlazor/default.css" rel="stylesheet" />
</HeadContent>



@code {

    [Parameter] public string Url { get; set; } = string.Empty;
    [Parameter] public string? Name { get; set; } = string.Empty;
    [Parameter] public ComicMetadata Metadata { get; set; } = null!;

    [Parameter] public Func<int, Task<PageData?>> GetPage { get; set; } = null!;



    private string BlobUrl = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ComicService.GetPage = GetPage;
        await ComicService.InitAsync(Metadata);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ComicService.InitInteropAsync();
            Console.WriteLine("Comics Loaded");
            ComicService.CurrentPage = 9;

            @* await ComicService.LoadAtPosition(); *@

        }
    }



}