@inject Services.BlobManagerService BlobManagerService;
<div >
    <div> Page @PageId - @PageKey</div>
    <div style="height: 200px;">
        <img style="object-fit: cover; height: 100%;" src="@BlobUrl" />
    </div>

</div>


@code{
    [Parameter] public int PageId { get; set; } 
    [Parameter] public string PageKey { get; set; } 
private string BlobUrl = string.Empty;

  
  

}