.page-view {


    display: flex;
    flex-direction: row;

    .page-area {

        display: flex;
        flex-direction: row;
        
        .left-page,
        .right-page {
            height: calc(100svh - 20px);

            img {
                height: 100%;
            }
        }
    }
}