.page-view {
  position: relative;
  z-index: 1;
}
.page-view .left-icon,
.page-view .right-icon {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  opacity: 0;
  transition: opacity linear 0.6s;
  cursor: pointer;
  z-index: 2;
}
.page-view .left-icon:before,
.page-view .right-icon:before {
  display: block;
  position: relative;
  height: 4rem;
  width: 4rem;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
}
@media (hover: hover) {
  .page-view .left-icon:hover,
.page-view .right-icon:hover {
    opacity: 0.3;
  }
}
.page-view .left-icon {
  left: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0) 100%);
}
.page-view .left-icon:before {
  content: url('data:image/svg+xml;utf8,<svg version="1.1" fill="%23000000" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 800 800" xml:space="preserve"><path class="st0" d="M398.1,41.7h3.8c76.9,0,137.2,0,184.3,6.3c48.2,6.5,86.2,20,116,49.8c29.8,29.8,43.3,67.8,49.8,116	c6.3,47,6.3,107.4,6.3,184.3V500c0,142.7-115.7,258.3-258.3,258.3H398.1c-76.9,0-137.2,0-184.3-6.3c-48.2-6.5-86.2-20-116-49.8	C68,672.4,54.5,634.4,48,586.2c-6.3-47-6.3-107.3-6.3-184.3v-3.8c0-76.9,0-137.2,6.3-184.3c6.5-48.2,20-86.2,49.8-116	s67.8-43.3,116-49.8C260.8,41.7,321.1,41.7,398.1,41.7z M220.5,97.5c-42.6,5.7-68.3,16.6-87.3,35.6c-19,19-29.9,44.7-35.6,87.3	c-5.8,43.3-5.9,100.3-5.9,179.5c0,79.3,0.1,136.2,5.9,179.5c5.7,42.6,16.6,68.3,35.6,87.3c19,19,44.7,29.9,87.3,35.6	c43.3,5.8,100.3,5.9,179.5,5.9h75c0.1-45.5,1.1-75.5,9.4-100.9c19-58.4,64.7-104.1,123.1-123.1c25.4-8.3,55.4-9.3,100.9-9.4v-75	c0-79.3-0.1-136.2-5.9-179.5c-5.7-42.6-16.6-68.3-35.6-87.3c-19-19-44.7-29.9-87.3-35.6c-43.3-5.8-100.3-5.9-179.5-5.9	C320.7,91.7,263.8,91.7,220.5,97.5z M706.8,525c-45.2,0.2-66.6,1.3-84,6.9c-43.1,14-76.9,47.8-91,91c-5.6,17.3-6.7,38.7-6.9,84	C620.1,695.5,695.5,620.1,706.8,525z"/><path class="st0" d="M467.7,282.3c9.8,9.8,9.8,25.6,0,35.4L385.4,400l82.3,82.3c9.8,9.8,9.8,25.6,0,35.4c-9.8,9.8-25.6,9.8-35.4,0	l-100-100c-9.8-9.8-9.8-25.6,0-35.4l100-100C442.1,272.6,457.9,272.6,467.7,282.3z"/></svg>');
}
.page-view .right-icon {
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0) 100%);
}
.page-view .right-icon:before {
  display: block;
  position: relative;
  height: 4rem;
  width: 4rem;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  content: url('data:image/svg+xml;utf8,<svg version="1.1" fill="%23000000" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 800 800" xml:space="preserve"><path class="st0" d="M398.1,41.7h3.8c76.9,0,137.2,0,184.3,6.3c48.2,6.5,86.2,20,116,49.8c29.8,29.8,43.3,67.8,49.8,116	c6.3,47,6.3,107.4,6.3,184.3V500c0,142.7-115.7,258.3-258.3,258.3H398.1c-76.9,0-137.2,0-184.3-6.3c-48.2-6.5-86.2-20-116-49.8	C68,672.4,54.5,634.4,48,586.2c-6.3-47-6.3-107.3-6.3-184.3v-3.8c0-76.9,0-137.2,6.3-184.3c6.5-48.2,20-86.2,49.8-116	s67.8-43.3,116-49.8C260.8,41.7,321.1,41.7,398.1,41.7z M220.5,97.5c-42.6,5.7-68.3,16.6-87.3,35.6c-19,19-29.9,44.7-35.6,87.3	c-5.8,43.3-5.9,100.3-5.9,179.5c0,79.3,0.1,136.2,5.9,179.5c5.7,42.6,16.6,68.3,35.6,87.3c19,19,44.7,29.9,87.3,35.6	c43.3,5.8,100.3,5.9,179.5,5.9h75c0.1-45.5,1.1-75.5,9.4-100.9c19-58.4,64.7-104.1,123.1-123.1c25.4-8.3,55.4-9.3,100.9-9.4v-75	c0-79.3-0.1-136.2-5.9-179.5c-5.7-42.6-16.6-68.3-35.6-87.3c-19-19-44.7-29.9-87.3-35.6c-43.3-5.8-100.3-5.9-179.5-5.9	C320.7,91.7,263.8,91.7,220.5,97.5z M706.8,525c-45.2,0.2-66.6,1.3-84,6.9c-43.1,14-76.9,47.8-91,91c-5.6,17.3-6.7,38.7-6.9,84	C620.1,695.5,695.5,620.1,706.8,525z"/><path class="st0" d="M367.7,282.3l100,100c9.8,9.8,9.8,25.6,0,35.4l-100,100c-9.8,9.8-25.6,9.8-35.4,0c-9.8-9.8-9.8-25.6,0-35.4	l82.3-82.3l-82.3-82.3c-9.8-9.8-9.8-25.6,0-35.4C342.1,272.6,357.9,272.6,367.7,282.3z"/></svg>');
}
.page-view .page-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100svw;
}
.page-view .page-area .left-page,
.page-view .page-area .right-page {
  flex-grow: 1;
  height: calc(100svh - 20px);
  max-width: 100%;
  position: relative;
}
.page-view .page-area .left-page img,
.page-view .page-area .right-page img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-view .page-area .left-page .left-shadow,
.page-view .page-area .left-page .right-shadow,
.page-view .page-area .right-page .left-shadow,
.page-view .page-area .right-page .right-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 6%;
}
.page-view .page-area .left-page .left-shadow,
.page-view .page-area .right-page .left-shadow {
  right: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.4) 6%, rgba(0, 0, 0, 0.26) 24%, rgba(0, 0, 0, 0) 100%);
}
.page-view .page-area .left-page .right-shadow,
.page-view .page-area .right-page .right-shadow {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.4) 6%, rgba(0, 0, 0, 0.26) 24%, rgba(0, 0, 0, 0) 100%);
}
.page-view .page-area .left-page {
  text-align: center;
}
.page-view .page-area .left-page:has(+ .right-page) {
  text-align: right;
}

.page-view.flip-Vertical .page-area {
  transform: rotateX(180deg);
}
.page-view.flip-Horizontal .page-area {
  transform: rotateY(180deg);
}
.page-view.flip-VerticalHorizontal .page-area {
  transform: rotateX(180deg) rotateY(180deg);
}
.page-view.rotate-90 .page-area {
  transform: rotateZ(90deg);
}
.page-view.rotate-180 .page-area {
  transform: rotateZ(180deg);
}
.page-view.rotate-270 .page-area {
  transform: rotateZ(270deg);
}
.page-view.rotate-90.flip-Vertical .page-area {
  transform: rotateZ(90deg) rotateX(180deg);
}
.page-view.rotate-180.flip-Vertical .page-area {
  transform: rotateZ(180deg) rotateX(180deg);
}
.page-view.rotate-270.flip-Vertical .page-area {
  transform: rotateZ(270deg) rotateX(180deg);
}
.page-view.rotate-90.flip-Horizontal .page-area {
  transform: rotateZ(90deg) rotateY(180deg);
}
.page-view.rotate-180.flip-Horizontal .page-area {
  transform: rotateZ(180deg) rotateY(180deg);
}
.page-view.rotate-270.flip-Horizontal .page-area {
  transform: rotateZ(270deg) rotateY(180deg);
}
.page-view.rotate-90.flip-VerticalHorizontal .page-area {
  transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg);
}
.page-view.rotate-180.flip-VerticalHorizontal .page-area {
  transform: rotateZ(180deg) rotateX(180deg) rotateY(180deg);
}
.page-view.rotate-270.flip-VerticalHorizontal .page-area {
  transform: rotateZ(270deg) rotateX(180deg) rotateY(180deg);
}
.page-view.scale-Best .left-page,
.page-view.scale-Best .right-page {
  width: 100%;
  height: calc(100svh - 20px);
}
.page-view.scale-Best .left-page img,
.page-view.scale-Best .right-page img {
  max-height: 100%;
}
.page-view.scale-Width .left-page,
.page-view.scale-Width .right-page {
  width: 100%;
  height: unset;
}
.page-view.scale-Native {
  max-width: unset;
}
.page-view.scale-Native .left-page,
.page-view.scale-Native .right-page {
  width: unset;
  height: unset;
}
.page-view.scale-Native .left-page img,
.page-view.scale-Native .right-page img {
  height: unset;
  max-width: unset;
  object-fit: unset;
  -o-object-fit: unset;
}

.loading {
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./loading_bg.svg");
  background-size: contain;
}
.loading .spinner {
  position: absolute;
  background-image: url("./loading_spinner.svg");
  background-size: contain;
  width: 100%;
  padding-top: 100%;
  top: 0;
  animation: rotateSpinner 5000ms linear infinite;
}
@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}