<div class="page-view">
    <div class="left-icon" @onclick="@(() => ComicService.MoveBack())"></div>
    <div class="page-area">
        <div class="left-page">
            <img src="@LeftPage?.BlobUri" />
        </div>
        @if (ComicService.DisplayMode == DisplayMode.DoublePage)
        {
            <div class="right-page">
                <img src="@RightPage?.BlobUri" />
            </div>
        }

    </div>
    <div class="right-icon" @onclick="@(() => ComicService.MoveNext())"></div>
</div>

@code {
    private Page? LeftPage { get; set; }
    private Page? RightPage { get; set; }

    protected override void OnInitialized()
    {
        ComicService.CurrentPageChanged += () => OnCurrentPageChanged();
        ComicService.DisplayModeChanged += () => OnCurrentPageChanged();
        @* {
            Console.WriteLine($"Got New Display: {ComicService.DisplayMode}");
            StateHasChanged();
        }; *@
    }

    public void OnCurrentPageChanged()
    {
        LeftPage = ComicService.Pages[ComicService.CurrentPage];
        if (ComicService.CanViewRightPage())
            RightPage = ComicService.Pages[ComicService.CurrentPage + 1];
        else
            RightPage = null;

        StateHasChanged();
    }
}