.comic-progress {
  height: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.comic-progress .page {
  opacity: 0.5;
  width: 100%;
  background-color: var(--purple-bright-highlight);
}
.comic-progress .page.loaded {
  background-color: var(--purple-extrabright);
  opacity: 0.6;
}
.comic-progress .page:hover {
  opacity: 0.8;
}