.side-panel {
  height: calc(100svh - 20px);
  overflow: hidden;
  overflow-y: auto;
}

.page-list {
  width: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.page-list .page {
  min-height: 122px;
  width: 80px;
  background-color: #e8e6f9;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page-list .page.spacer {
  background-color: unset;
}
.page-list .page.double-page {
  width: 160px;
}