@inject Services.ComicService ComicService;
<div class="title-wrap">
    <div class="@SidebarIcon" @onclick="ToggleSidebar"></div>
    <div class="title noto-sans">
        @ComicService.Title
    </div>
    <div class="settings-icon" @onclick="OpenSettings"></div>
</div>

@code {

    private string SidebarIcon {get;set;}= "sidebar-open-icon" ;
    protected override void OnInitialized()
    {
        ComicService.TitleChanged += () => StateHasChanged();
    }

    private void ToggleSidebar()
    {
        SidebarIcon = SidebarIcon == "sidebar-close-icon" ? "sidebar-open-icon" : "sidebar-close-icon";
        @* StateHasChanged(); *@
    }

    private void OpenSettings()
    {
        Console.WriteLine("toggle settings");
        ComicService.ToggleSettings?.Invoke();
    }
}