.title-wrap {
  display: flex;
  background-color: var(--bg-panel);
}
.title-wrap .sidebar-open-icon, .title-wrap .sidebar-close-icon, .title-wrap .settings-icon {
  width: 20px;
  height: 16px;
  margin-right: 4px;
  padding-left: 4px;
  opacity: 0.6;
  transition: opacity linear 0.2s;
  cursor: pointer;
}
.title-wrap .sidebar-open-icon:hover, .title-wrap .sidebar-close-icon:hover, .title-wrap .settings-icon:hover {
  opacity: 1;
}
.title-wrap .title {
  flex-grow: 1;
  text-align: center;
  height: 16px;
  line-height: 16px;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}